In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [10]:
#data = pd.read_csv('/content/drive/MyDrive/Invest Machine/Data/tmp.csv')
data = pd.read_csv('tmp.csv')

In [12]:
data

                     timestamp exchange  ... bids[8].amount  bids[9].amount
0      2021-04-02 09:00:00.400  deribit  ...       100000.0          1830.0
1      2021-04-02 09:00:00.500  deribit  ...       100000.0          1830.0
2      2021-04-02 09:00:00.700  deribit  ...       100000.0          1830.0
3      2021-04-02 09:00:00.800  deribit  ...       100000.0          1830.0
4      2021-04-02 09:00:00.900  deribit  ...       100000.0          1830.0
...                        ...      ...  ...            ...             ...
11802  2021-04-02 09:59:57.400  deribit  ...         5270.0        100000.0
11803  2021-04-02 09:59:58.400  deribit  ...       100000.0          2260.0
11804  2021-04-02 09:59:59.400  deribit  ...         5270.0        100000.0
11805  2021-04-02 10:00:00.400  deribit  ...         5270.0        100000.0
11806  2021-04-02 10:00:00.800  deribit  ...       100000.0          2260.0

[11807 rows x 45 columns]

In [13]:
def simulation(data, ask_size):
  order_book = pd.DataFrame(columns = ['timestamp', 'amount', 'price', 'side', 'slippage'])

  NextTimeToTrade = datetime.strptime(data.iloc[0:1, 0].values[0], '%Y-%m-%d %H:%M:%S.%f')

  for i in range(len(data)):
    curr_time = datetime.strptime(data.iloc[i : i + 1, 0].values[0], '%Y-%m-%d %H:%M:%S.%f')

    if curr_time >= NextTimeToTrade:
      NextTimeToTrade += timedelta(minutes=1)

      curr_bucket = pd.DataFrame(data.iloc[i : i + 1, :])
      curr_amount = ask_size
      pinned_price = curr_bucket['asks[9].price'].values[0]


      for j in range(bucket_size):
        side = None
        if j == 0:
          side = 'taker'
        else:
          side = 'maker'

        aval_price = curr_bucket['asks[' + str(j) + '].price'].values[0] 
        aval_amount = curr_bucket['asks[' + str(j) + '].amount'].values[0]

        if aval_amount >= curr_amount:
          new_order = {'timestamp' : curr_time.strftime('%Y-%m-%d %H:%M:%S.%f'), 'amount':curr_amount, 'price':aval_price, 'side':side, 'slippage': pinned_price - aval_price}
                       
          order_book = order_book.append(new_order, ignore_index=True)
          curr_amount = ask_size
          break

        else:
          new_order = {'timestamp' : curr_time.strftime('%Y-%m-%d %H:%M:%S.%f'), 'amount':aval_amount, 'price':aval_price, 'side':side, 'slippage': pinned_price - aval_price}

          order_book = order_book.append(new_order, ignore_index=True)
          curr_amount -= aval_amount
          
  return order_book

In [14]:
def strategy_parameters(order_book, maker, taker):
  amount = 0
  total_price = 0
  total_slippage = 0

  for i in range(len(order_book)):
    curr_order = pd.DataFrame(order_book.iloc[i : i + 1, :])
    if curr_order['side'].values[0] == 'maker':
      commission = 1 + maker
    elif curr_order['side'].values[0] == 'taker':
      commission = 1 + taker
  
    total_price += curr_order['amount'].values[0] * curr_order['price'].values[0] * commission
    total_slippage += curr_order['slippage'].values[0] * curr_order['amount'].values[0]
    amount += curr_order['amount'].values[0]

  return amount, total_price / amount, total_slippage / amount

In [15]:
maker = 0.02 * 0.01
taker = 0.07 * 0.01
bucket_size = 10
ask_sizes = [1000, 10000, 1000000]
results = pd.DataFrame(columns = ['minute_amount', 'total_amount', 'avg_price', 'avg_slippage'])

for ask_size in ask_sizes:

  order_book = simulation(data, ask_size)

  total_amount, avg_price, avg_slippage = strategy_parameters(order_book, maker, taker)
  new_row = {'minute_amount' : ask_size, 'total_amount':total_amount, 'avg_price':avg_price, 'avg_slippage':avg_slippage}
  results = results.append(new_row, ignore_index=True)
  
  order_book = order_book[['timestamp', 'amount', 'price', 'side']]
  order_book.to_csv('order_book_' + str(ask_size) + '.csv', index=True)

In [16]:
results

   minute_amount  total_amount     avg_price  avg_slippage
0         1000.0       61000.0  60922.844341     86.744508
1        10000.0      610000.0  60911.756584     83.606648
2      1000000.0    41828640.0  60955.226539     41.827541